<!-- Action buttons container -->
<div [ngClass]="['actions-container', applyTheme()]">
  <button
    mat-raised-button
    color="newnote"
    ngClass="drop-shadow-lg"
    (click)="addNote()"
  >
    New Note
  </button>

  <div ngClass="grow"></div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    #matMenuTrigger="matMenuTrigger"
    (window:resize)="matMenuTrigger.closeMenu()"
  >
    <mat-icon ngClass="absolute left-2 top-2">sort</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Title</button>
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Date Created</button>
    <button mat-menu-item>Date Modified</button>
  </mat-menu>
</div>

<!-- Notes container -->
<div ngClass="notes-container">
  <!-- Map the retrieved data to a set of note components -->
  <ng-container *ngFor="let note of notes">
    <app-note [note]="note"></app-note>
  </ng-container>
</div>
