<!-- Action buttons container -->
<div [ngClass]="['actions-container', applyTheme()]">
  <!-- Opens dialog to create a new note -->
  <button
    mat-raised-button
    color="newnote"
    (click)="openDialog()"
    ngClass="drop-shadow-lg hidden sm:flex"
  >
    New Note
  </button>

  <button
    mat-mini-fab
    color="newnote"
    (click)="openDialog()"
    ngClass="drop-shadow-lg sm:hidden"
  >
    <mat-icon ngClass="absolute top-2 left-2">add</mat-icon>
  </button>

  <div ngClass="grow"></div>

  <!-- Chips showing tags for a large screen -->
  <mat-chip-list
    aria-label="Tag legend"
    ngClass="hidden sm:flex flex-row p-0 items-center"
  >
    <mat-chip color="general">General</mat-chip>
    <mat-chip color="personal">Personal</mat-chip>
    <mat-chip color="work">Work</mat-chip>
    <mat-chip color="leisure">Leisure</mat-chip>
  </mat-chip-list>

  <!-- Chips with abbreviated tags for a small screen -->
  <mat-chip-list
    aria-label="Tag legend"
    ngClass="sm:hidden flex-row p-0 items-center"
  >
    <mat-chip color="general">G</mat-chip>
    <mat-chip color="personal">P</mat-chip>
    <mat-chip color="work">W</mat-chip>
    <mat-chip color="leisure">L</mat-chip>
  </mat-chip-list>

  <!-- Sorting button and menu -->
  <div ngClass="flex flex-row p-0 items-center">
    <div ngClass="hidden sm:block">Sort</div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #matMenuTrigger="matMenuTrigger"
      (window:resize)="matMenuTrigger.closeMenu()"
    >
      <mat-icon ngClass="absolute left-2 top-2">sort</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="noteService.sortNotesByTitle()">
      Title
    </button>
    <button mat-menu-item (click)="noteService.sortNotesByTag()">Tag</button>
    <button mat-menu-item (click)="noteService.sortNotesByCreatedAt()">
      Time Created
    </button>
    <button mat-menu-item (click)="noteService.sortNotesByLastModified()">
      Last Modified
    </button>
  </mat-menu>
</div>

<!-- Notes container -->
<div ngClass="notes-container">
  <!-- Map the retrieved data to a set of note components -->
  <ng-container *ngFor="let note of notes">
    <app-note [note]="note" (click)="openDialog(note)"></app-note>
  </ng-container>
</div>
