<!-- Action buttons container -->
<div [ngClass]="['actions-container', applyTheme()]">
  <!-- Opens dialog to create a new note -->
  <button
    mat-raised-button
    color="newnote"
    (click)="openDialog()"
    ngClass="drop-shadow-lg hidden sm:flex"
  >
    New Note
  </button>

  <button
    mat-mini-fab
    color="newnote"
    (click)="openDialog()"
    ngClass="drop-shadow-lg sm:hidden"
  >
    <mat-icon ngClass="absolute top-2 left-2">add</mat-icon>
  </button>

  <div ngClass="grow"></div>

  <!-- Legend for tags on large screens -->
  <div ngClass="hidden sm:flex flex-row p-0 items-center gap-x-3 font-semibold">
    <span
      ngClass="bg-cyan-300 dark:bg-blue-700 px-2 py-1 rounded-xl cursor-default"
    >
      General
    </span>
    <span
      ngClass="bg-pink-300 dark:bg-pink-700 px-2 py-1 rounded-xl cursor-default"
    >
      Leisure
    </span>
    <span
      ngClass="bg-green-300 dark:bg-green-700 px-2 py-1 rounded-xl cursor-default"
    >
      Personal
    </span>
    <span
      ngClass="bg-yellow-300 dark:bg-yellow-700 px-2 py-1 rounded-xl cursor-default"
    >
      Work
    </span>
  </div>

  <!-- Legend for tags on smaller screens -->
  <div ngClass="sm:hidden flex flex-row p-0 items-center gap-x-2 font-semibold">
    <span
      ngClass="bg-cyan-300 dark:bg-blue-700 px-2 py-1 rounded-xl cursor-default"
      >G</span
    >
    <span
      ngClass="bg-green-300 dark:bg-green-700 px-2 py-1 rounded-xl cursor-default"
      >P</span
    >
    <span
      ngClass="bg-yellow-300 dark:bg-yellow-700 px-2 py-1 rounded-xl cursor-default"
      >W</span
    >
    <span
      ngClass="bg-pink-300 dark:bg-pink-700 px-2 py-1 rounded-xl cursor-default"
      >L</span
    >
  </div>

  <!-- Sorting button and menu -->
  <div ngClass="flex flex-row p-0 items-center">
    <div ngClass="hidden sm:block">Sort</div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #matMenuTrigger="matMenuTrigger"
      (window:resize)="matMenuTrigger.closeMenu()"
    >
      <mat-icon ngClass="absolute left-2 top-2">sort</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="noteService.sortNotesByTitle()">
      Title
    </button>
    <button mat-menu-item (click)="noteService.sortNotesByTag()">Tag</button>
    <button mat-menu-item (click)="noteService.sortNotesByCreatedAt()">
      Time Created
    </button>
    <button mat-menu-item (click)="noteService.sortNotesByLastModified()">
      Last Modified
    </button>
  </mat-menu>
</div>

<!-- Notes container -->
<div ngClass="notes-container">
  <!-- Map the retrieved data to a set of note components -->
  <ng-container *ngFor="let note of notes">
    <app-note [note]="note" (click)="openDialog(note)"></app-note>
  </ng-container>
</div>
