<!-- Top-bar represented by material toolbar  -->
<!-- Don't ask me why this has to be in-line. Doesn't work otherwise... -->
<div
  ngClass="flex flex-row items-center justify-between
  h-28 px-12 bg-amber-50 dark:bg-gray-800 drop-shadow-lg"
>
  <button mat-raised-button color="accent" (click)="toggleTheme()">
    Toggle Theme
  </button>

  <button mat-raised-button color="primary" routerLink="/home">Home</button>
  <button mat-raised-button color="accent" routerLink="/about">About</button>
  <button mat-raised-button color="warn" routerLink="/dashboard">
    Dashboard
  </button>
</div>
