<div [ngClass]="['flex flex-col h-full justify-between gap-y-4', applyTheme()]">
  <!-- Title input, reacts when focused -->
  <div class="flex flex-col gap-y-1">
    <div ngClass="text-md font-serif">Title</div>
    <input
      placeholder="Note Title"
      type="text"
      ngClass="
      text-lg p-2 rounded-lg outline outline-1
      font-serif font-semibold
      bg-inherit focus:bg-slate-800 dark:focus:bg-white
      focus:text-white dark:focus:text-black
      outline-black dark:outline-white"
      [(ngModel)]="currentNote.title"
    />
  </div>

  <div class="flex flex-col gap-y-1">
    <div ngClass="text-md font-serif">Description</div>
    <textarea
      placeholder="Note Title"
      type="text"
      rows="3"
      ngClass="
        p-2 resize-none rounded-lg outline outline-1
        font-cardtitle font-normal text-sm
        focus:text-white dark:focus:text-black
        bg-inherit focus:bg-slate-800 dark:focus:bg-white
        outline-black dark:outline-white"
      [(ngModel)]="currentNote.description"
    ></textarea>
  </div>

  <div class="flex flex-col grow gap-y-1">
    <div ngClass="text-md font-serif">Content</div>
    <textarea
      placeholder="Note Title"
      type="text"
      ngClass="
        p-2 resize-none rounded-lg outline outline-1 box-border grow
        font-cardtitle font-normal text-sm
        focus:text-white dark:focus:text-black
        bg-inherit focus:bg-slate-800 dark:focus:bg-white
        outline-black dark:outline-white"
      [(ngModel)]="currentNote.content"
    ></textarea>
  </div>

  <div ngClass="flex flex-row gap-x-4">
    <!-- Nothing needs to happen with the cancel button -->
    <button
      mat-raised-button
      cdkFocusInitial
      color="action"
      (click)="upsertNote()"
    >
      Save Changes
    </button>
    <button mat-raised-button mat-dialog-close color="basic">Cancel</button>
    <div ngClass="grow"></div>
    <button mat-raised-button color="warn" (click)="deleteNote()">
      Delete Note
    </button>
  </div>
</div>
