<div [ngClass]="['flex flex-col h-full justify-between gap-y-4', applyTheme()]">
  <!-- Title input, reacts when focused -->
  <div class="flex flex-col gap-y-2">
    <div ngClass="flex flex-row justify-between items-center">
      <div ngClass="text-xl font-serif grow">Title</div>

      <div ngClass="block">{{ currentNote.tag }}</div>
      <button
        ngClass="relative bottom-tiny"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #matMenuTrigger="matMenuTrigger"
        (window:resize)="matMenuTrigger.closeMenu()"
      >
        <mat-icon>label</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item ngClass="pl-4" (click)="updateTag('General')">
        General
      </button>
      <button mat-menu-item ngClass="pl-4" (click)="updateTag('Leisure')">
        Leisure
      </button>
      <button mat-menu-item ngClass="pl-4" (click)="updateTag('Personal')">
        Personal
      </button>
      <button mat-menu-item ngClass="pl-4" (click)="updateTag('Work')">
        Work
      </button>
    </mat-menu>
    <input
      placeholder="Note title"
      type="text"
      ngClass="
      text-lg p-2 rounded-lg outline outline-1
      font-serif font-semibold
      bg-inherit focus:bg-slate-800 dark:focus:bg-white
      focus:text-white dark:focus:text-black
      outline-black dark:outline-white"
      [(ngModel)]="currentNote.title"
    />
  </div>

  <div class="flex flex-col gap-y-1">
    <div ngClass="text-md font-serif">Description</div>
    <textarea
      placeholder="Note description"
      type="text"
      rows="3"
      ngClass="
        p-2 resize-none rounded-lg outline outline-1
        font-cardtitle font-normal text-sm
        focus:text-white dark:focus:text-black
        bg-inherit focus:bg-slate-800 dark:focus:bg-white
        outline-black dark:outline-white"
      [(ngModel)]="currentNote.description"
    ></textarea>
  </div>

  <div class="flex flex-col grow gap-y-1">
    <div ngClass="text-md font-serif">Content</div>
    <textarea
      placeholder="Note content"
      type="text"
      ngClass="
        p-2 resize-none rounded-lg outline outline-1 box-border grow
        font-cardtitle font-normal text-sm
        focus:text-white dark:focus:text-black
        bg-inherit focus:bg-slate-800 dark:focus:bg-white
        outline-black dark:outline-white"
      [(ngModel)]="currentNote.content"
    ></textarea>
  </div>

  <!-- Action buttons for larger devices -->
  <div ngClass="hidden mobile:flex flex-row gap-x-4">
    <!-- Nothing needs to happen with the cancel button -->
    <button
      mat-raised-button
      cdkFocusInitial
      color="action"
      (click)="upsertNote()"
    >
      {{ data === null ? 'Create' : 'Save' }}
    </button>
    <button mat-raised-button mat-dialog-close color="basic">Cancel</button>
    <div ngClass="grow"></div>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteNote()"
      *ngIf="data !== null"
    >
      Delete Note
    </button>
  </div>

  <!-- Action buttons for phones -->
  <div ngClass="flex mobile:hidden flex-row gap-x-4">
    <!-- Nothing needs to happen with the cancel button -->
    <button mat-icon-button color="action" (click)="upsertNote()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-close color="basic">
      <mat-icon>cancel</mat-icon>
    </button>
    <div ngClass="grow"></div>
    <button
      mat-icon-button
      color="warn"
      (click)="deleteNote()"
      *ngIf="data !== null"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
