/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Custom background and text color for dialog */
.light-dialog .mat-dialog-container {
  @apply dark:bg-stone-100;
  @apply dark:text-black;
}

.dark-dialog .mat-dialog-container {
  @apply bg-slate-800;
  @apply text-white;
}

.mat-dialog-container {
  @apply cursor-default;
}

/* .mat-chi {
  @apply bg-transparent;
  @apply text-black;
} */
